<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorator="layout/layout_default">

<head>
    <title>Sign In</title>
</head>

<th:block layout:fragment="css">
	<link rel="stylesheet" type="text/css" href="css/sign.css">
</th:block>

<div layout:fragment="content">
    <!-- wrap -->
    <div class="wrap">
        <!-- login -->
        <div class="login_wrap">
            <div class="login_form">
                <span>login</span>
                <form id="loginFrm">
                    <div class="txt_field">
                        <input type="text" name="ID" required>
                        <label>ID (e-mail)</label>
                    </div>
                    <div class="txt_field">
                        <input type="password" name="PW" required>
                        <label>Password</label>
                    </div>
                    <input type="button" name="signIn" value="login">
                    <div class="fg_pw">Forgot your password?</div>
                    <div class="signup_link">Not a member?<a href="/sign_up">Sign Up</a></div>
                </form>
            </div>
        </div>
    </div>
</div>

</html>